* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}
a{
	color: #333;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'open_sanslight';
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
/*.left{
	float: left;
}
.right{
	float: right;
}*/

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'seasideresortnfregular';
    src: url('../fonts/seasrn__-webfont.woff2') format('woff2'),
         url('../fonts/seasrn__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_sansitalic';
    src: url('../fonts/josefinsans-italic-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#home{
	background-image: url("../images/background1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#home .overlay{
	background: rgba(0,0,0,0.5);
}
header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	flex-wrap: wrap;
}
header h1.left{
	width: 120px;
}
header nav{

}
header nav.mobile-menu,span.close-icon,span.menu-icon{
	display: none;
}
header nav.menu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav.menu ul li{
	margin-right: 25px;
	font-size: 18px;
	font-family: 'josefin_sansitalic';
}
header nav.menu ul li:last_child{
	margin-right: 0;
}
header nav.menu ul a{
	color: #fff;
}
#home .overlay .spotlight{
	width: 60%;
	padding: 18% 0;
}
#home .overlay .spotlight h1{
	font-family: 'seasideresortnfregular';
	text-transform: uppercase;
	font-size: 55px;
	color: #fff;

}
#home .overlay .spotlight p{
	color: #fff;
	font-size: 18px;
	font-family: 'josefin_sansitalic';
	margin: 4% 0 10% 0;
}
#home .overlay .spotlight a.button{
	display: inline-block;
	color: #fff;
	padding: 20px 50px;
	background-color: #5dcb74;
	border-radius: 6px;
	font-size: 16px;
}
#events{
	padding-top: 5%;
	background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
}
#events h1.head{
	text-align: center;
	font-size: 55px;
	font-family: 'seasideresortnfregular';
	margin-bottom: 50px;
}
#events .content{
	
}
#events .content ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -7%;
}
#events .content ul li{
	width: 30%;
	text-align: center;
	margin-bottom: 7%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 3% 3%;
	border-radius: 25px;
	background: #fff;
}
#events .content ul li div.image{
	background-size: cover;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
#events .content ul li div.image.prudence{
	background-image: url("../images/prudence.png");
}
#events .content ul li div.image.invente{
	background-image: url("../images/invente.png");
}
#events .content ul li div.image.herald{
	background-image: url("../images/herald.png");
}
#events .content ul li div.image.sherlock{
	background-image: url("../images/sherlock.png");
}
#events .content ul li div.image.flickshot{
	background-image: url("../images/flickshot.png");
}
#events .content ul li div.image.talentia{
	background-image: url("../images/talentia.png");
}
#events .content ul li div.content{
	margin: 0 auto;
	height: 135px;
}
#events .content ul li div.content h3{
	font-size: 25px;
	margin: 10px 0;
}
#events .content ul li div.content h5{
	font-size: 20px;
	color: #a2a2a2;
}
#events .content ul li div.content p{
	margin: 10px 0;
}
#events .content ul li a.button{
	display: inline-block;
	color: #fff;
	padding: 15px 40px;
	background-color: #5dcb74;
	border-radius: 25px;
	font-size: 16px;
	margin-top: 10px;
}
#team{
	padding-top: 18%;
	background: #fff8ed;
	margin-top: -18%;
}
#team h1.head{
	text-align: center;
	font-size: 55px;
	font-family: 'seasideresortnfregular';
	margin-bottom: 50px;
}
#team .content{
	
}
#team .content ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#team .content ul li{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 30%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 5%;
}
#team .content ul li .image{
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	width: 150px;
	height: 150px;
}
#team .content ul li .content{
	width: 70%;
	padding: 10% 4%;
	background: #fff;
}
#team .content ul li .content h3{

}
#team .content ul li .content h5{
	color: #a2a2a2;
}
#team .content ul li .image.rasheed{
	background: url("../images/rasheed.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}
#team .content ul li .image.shaheed{
	background: url("../images/shaheed.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}
#team .content ul li .image.mohammed{
	background: url("../images/mohammed.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}
#team .content ul li .image.nishad{
	background: url("../images/nishad.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}
#team .content ul li .image.nabhan{
	background: url("../images/nabhan.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}
#team .content ul li .image.ansar{
	background: url("../images/ansar.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}
#team .content ul li .image.safwan{
	background: url("../images/safwan.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}
#team .content ul li .image.jaseel{
	background: url("../images/jaseel.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}
#team .content ul li .image.shuhaib{
	background: url("../images/shuhaib.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}
#contacts{
	padding-top: 5%;
	background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
}
#contacts h1.head{
	text-align: center;
	font-size: 50px;
	font-family: 'seasideresortnfregular';
	margin-bottom: 50px;
}
#contacts .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
#contacts div.location{
	width: 60%;
}
#contacts div.contact{
	width: 40%;
	padding: 6% 0 0 10%;
}
#contacts div.contact h2.head{
	font-size: 25px;
	font-family: 'seasideresortnfregular';
	margin-bottom: 40px;
}
#contacts div.contact div.container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	align-items: center;
}
#contacts div.contact div.container div.name{
	width: 50%;
	line-height: 1.6em;
}
#contacts div.contact div.container div.name b{
	display: block;
	color: #a2a2a2;
}
#contacts div.contact div.container div.social{
	width: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#contacts div.contact div.container div.social a.callicon{
	display: inline-block;
	font-size: 25px;
	color: mediumvioletred;
}
#contacts div.contact div.container div.social a.callicon span.icon-phone{
	width: 30px;
	height: 30px;
	display: block;
}
#contacts div.contact div.container div.social a.whatsappicon{
	display: inline-block;
	font-size: 25px;
	color: mediumvioletred;
	margin-right: 68%;
}
#contacts div.contact div.container div.social a.whatsappicon span.icon-whatsapp{
	width: 30px;
	height: 30px;
	display: inline-block;
}
footer{
	padding: 2% 0;
	background: #000000;
}
footer .container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
footer .container h4{
	color: #fff;
}




/*responsive start here*/

@media all and (max-width: 1280px){
	#contacts div.contact div.container div.social a.whatsappicon{
		margin-right: 52%;
	}

}
@media all and (max-width: 980px){
	#home .overlay .spotlight h1{
		font-size: 45px;
	}
	#team .content ul li {
		width: 48%;
	}

}
@media all and (max-width: 768px){
	#events .content ul li {
   		width: 48%;
   	}
   	#contacts div.contact div.container div.social a.whatsappicon {
    	margin-right: 30%;
    }

}
@media all and (max-width: 640px){
	header nav.menu{
		display: none;
	}
	header span.menu-icon{
		display: block;
		float: right;
		width: 32px;
		height: 32px;
		cursor: pointer;
		top: 38px;
		position: absolute;
		right: 45px;
	}
	header span.close-icon{
		position: absolute;
		width: 32px;
		height: 32px;
		cursor: pointer;
		z-index: 55;
		right: 45px;
		top: 38px;
	}
	header nav.mobile-menu{
		background-color: rgb(102, 255, 255,.9);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		padding-top: 40px; 
	}
	header nav.mobile-menu ul li{
		margin-bottom: 30px;
		display: block;
		text-align: center;
		font-size: 18px;
		font-family: 'josefin_sansitalic';
	}
	#home .overlay .spotlight{
		width: 90%;
	}
	#home .overlay .spotlight h1{
		font-size: 35px;
	}
	#home .overlay .spotlight p {
		font-size: 16px;
	}
	#home .overlay .spotlight a.button {
	    padding: 15px 45px;
	    font-size: 15px;
	}
	#events h1.head {
		font-size: 40px;
	}
	#team h1.head {
		font-size: 40px;
	}
	#contacts h1.head {
		font-size: 40px;
	}
	#events .content ul li{
		width: 100%;
	}
	#team .content ul li {
		width: 100%;
	}
	#contacts div.location {
 	   width: 100%;
	}
	#contacts div.contact {
		width: 48%;
	}
	footer .container h4 {
		font-size: 14px;
	}
}
@media all and (max-width: 480px){
	#contacts div.contact{
		width: 60%;
	}
	header h1.left {
		width: 85px;
	}
	footer .container h4 {
		font-size: 10px;
	}

}
@media all and (max-width: 360px){

}
@media all and (max-width: 320px){

}